.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  grid-template-areas: "sidebar content";
}

.grid-sidebanner {
  grid-area: sidebar;
}

.grid-infobanner {
  grid-area: content;
}

.grid-expbanner {
  grid-area: content;
}

img {
  width: 50%;
}
