.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  grid-template-areas: "sidebar content";
  padding: 20px;
  background-color: #fff6eb;
}

.grid-sidebanner {
  grid-area: sidebar;
}

.grid-infobanner {
  grid-area: content;
}

img {
  width: 50%;
}

h2 {
  margin-bottom: 5px;
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
  margin-top: 3px;
}

h4,
h5 {
  margin-bottom: 0;
  margin-top: 0;
}

.infobanner-imageNameRole {
  text-align: center;
}

.skillsDiv {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  border: 1px grey solid;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  background-color: whitesmoke;
  margin: 5px;
}

.sideDiv {
  border-radius: 15px;
  padding: 10px;
  background-color: #ffd39d;
}

.infoDiv {
  line-height: 30px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ffd39d;
}

.expDiv {
  border-radius: 15px;
  padding: 10px;
  background-color: #ffd39d;
}

a {
  margin: 5px 5px 5px 0;
  text-decoration: none;
  border: 1px grey solid;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
}

a:hover {
  background-color: brown;
}

.github {
  background-color: #333333;
  color: white;
}

.portfolio {
  background-color: orange;
  color: black;
}

.linkedin {
  background-color: #0072b1;
  color: white;
  font-weight: 400;
}
