:root {
    --mint: #DDFFE7;
    --spearmint: #98D7C2;
    --teal-green: #167D7F;
    --teal: #29A0B1;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--mint);
}

h1{
    width: 100%;
    background-color: var(--spearmint);
    text-align: center;
    padding: 10px 0;
    color: var(--teal-green);
}

label{
    color: var(--teal-green);
    font-size: medium;
}

input{
    border-radius: 5px;
    border: none;
    background-color: var(--spearmint);
    padding: 10px;
    font-size: medium;
}

.subtitle{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    width: 80%;
}

.subtitle-double{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
}

.subtitle-expirydiv,
.subtitle-cvvdiv {
    width: 30%;
    padding-left: 0;
    padding-right: 0;
}

.pay-now{
    padding: 20px;
}

#input-paynow{
    padding: 10px 30px;
    font-size: 25px;
    color: var(--teal-green);
}

@media (max-width:700px) {
    .subtitle-double{
        display: flex;
        flex-flow: column wrap;
        padding: 10px;
        width: 80%;
    }

    .subtitle-expirydiv,
    .subtitle-cvvdiv {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}