.center{
    width: 40%;
    margin: auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 1px solid red;
}

h3{
    margin: 1.3rem 0 0.5rem 0;
}

